body {
    font-family: Arial;
    padding: 20px;

    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
}

/* Skill container */
.skill-box {
    margin: 15px 0;
}

/* Skill name */
.skill-box p {
    margin: 5px 0;
}

/* Bar background */
.bar {
    width: 300px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

/* Filled bar */
.fill {
    height: 20px;
    background: #00ffcc;
    text-align: right;
    padding-right: 5px;
    color: black;
}
