body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
}

.chart-box {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
