body {
    font-family: Arial;
    padding: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
}

/* Search */
input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Table */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

/* Cells */
th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Header */
th {
    background: #ff7e5f;
    color: white;
}

/* Hover row */
tr:hover {
    background: #f2f2f2;
}
